/* Styles */

#inspector {
    background: rgba(10,10,10,0.5);
    border: 1px solid rgba(255,255,255,0.1);
    color: #fff;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: -1;
}

body.IDLE #inspector {
    z-index: 1;
}

#inspector pre {
    font-family: 'input_mono_regular';
    user-select: none;
}

#inspector a {
    text-decoration: none;
}

#inspector a:hover {
    text-decoration: underline;
}